/*
 * Author: JP
 * Project: github.com/TheJP/chat
 *
 * Content:
 * ========
 * 01. Basic style
 * 02. Navigation
 * 03. Content Div
 *
 */

/*********************/
/** 01. Basic style **/
/*********************/
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: black;

    padding: 0;
    margin: 0;
}
a {
	text-decoration: none;
    color: black;
}
a:hover, a:focus, a.active {
    color: gray;
}
.pull-right {
    float: right;
}

/********************/
/** 02. Navigation **/
/********************/
.navigation {
    background-color: #2C5700;
    height: 60px;
    position: fixed;
    z-index: 1030;
    left: 0;
    right: 0;
    top: 0;
}
.navigation .content span, .navigation .content a {
    display: inline-block;
    height: 45px;
    font-size: 24px;
    color: #AFD775;
    padding-top: 15px;
    padding-right: 15px;
}
.navigation .content a {
    padding-left: 15px;
}
.navigation .content a:hover,
.navigation .content a:focus,
.navigation .content a.active {
    color: #D0FF8B;
}
.navigation .content a.active {
    background-color: #408000;
    background: linear-gradient(to bottom, #333 0%, #333 10%, #408000 10%, #408000 100%);
}

/*********************/
/** 03. Content Div **/
/*********************/
.main {
    margin-top: 80px;
}
.content {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}
@media (min-width: 768px) {
.content {
    width: 750px;
}
}
@media (min-width: 992px) {
.content {
    width: 970px;
}
}
@media (min-width: 1200px) {
.content {
    width: 1170px;
}
}
