/*
 * Author:  JP
 * Project: github.com/TheJP/chat
 *
 * Content:
 * ========
 * 01. Basic style
 * 02. Navigation
 * 03. Login
 * 04. Content Div
 * 05. Public Chat Rooms
 * 06. Chat
 * 07. Sender
 * 08. Modal
 *   08.01 Register
 *   08.02 Change Password
 *   08.03 Error
 *   08.04 Alert
 *   08.05 Change Profile
 *
 */

/*********************/
/** 01. Basic style **/
/*********************/
* {
    outline: none;
}
/* Remove ugly dotted outline */
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.invisible {
  visibility: hidden !important;
}
html {
    height: 100%;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: black;

    padding: 0;
    margin: 0;

    height: calc(100% - 80px);
    overflow: hidden;
}
a {
	text-decoration: none;
    color: black;
}
a:hover, a:focus, a.active {
    color: gray;
}
.pull-right {
    float: right;
}
.input-group {
    display: block;
    height: 28px;
    margin: 5px 0;
    color: #2C5700;
    font-size: 18px;
}
.input-area {
    height: 100px;
}
.input-group label {
    display: inline-block;
    height: 100%;
    text-align: right;
    margin-right: 15px;
    vertical-align: middle;
}
.input-area label {
    vertical-align: top;
}
.input-group input {
    height: 20px;
    padding: 3px 10px;
}
.input-group textarea {
    resize: none;
    height: 86px;
    padding: 5px 10px;
}
.input-group input,
.input-group textarea {
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #2C5700;
    font-family: inherit;
    font-size: 14px;
}
.input-group input:focus,
.input-group textarea:focus {
    border: 1px solid #50a200;
}
.input-group button {
    display: inline-block;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    color: #fafafa;
    background-color: #408000;
    cursor: pointer;
}
.input-group button:focus,
.input-group button:hover {
    background-color: #50a200;
    background: linear-gradient(to bottom, #50a200 15%, #50a200 30%, #408000 100%);
}
.input-group button:active {
    background: linear-gradient(to bottom, #333 0%, #333 15%, #408000 15%, #408000 30%, #50a200 100%);
}
.command-group {
    text-align: right;
}

/********************/
/** 02. Navigation **/
/********************/
.navigation {
    background-color: #2C5700;
    height: 60px;
    position: fixed;
    z-index: 1030;
    left: 0;
    right: 0;
    top: 0;
}
.navigation .content span, .navigation .content a {
    display: inline-block;
    height: 45px;
    font-size: 24px;
    color: #AFD775;
    padding-top: 15px;
    padding-right: 15px;
}
.navigation .content a {
    padding-left: 15px;
}
.navigation .content a:hover,
.navigation .content a:focus,
.navigation .content a.active {
    color: #D0FF8B;
}
.navigation .content a.active {
    background-color: #408000;
    background: linear-gradient(to bottom, #333 0%, #333 10%, #408000 10%, #408000 100%);
}
.second-navigation {
    position: fixed;
    z-index: 1030;
    top: 60px;
    left: 0;
    right: 0;
}
.second-navigation .down-menu {
    background-color: #408000;
    padding: 5px 0;
}
.second-navigation .down-menu a {
    padding: 5px 20px;
    display: block;
    font-size: 18px;
    color: #D0FF8B;
}
.second-navigation .down-menu a:hover {
    background-color: #333;
    background: linear-gradient(to right, #333 0%, #333 5%, #2C5700 5%, #2C5700 100%);
}

/***************/
/** 03. Login **/
/***************/
.login {
    background-color: #aaa;
    padding-top: 5px;
    height: 135px;
    position: fixed;
    z-index: 1030;
    left: 0;
    right: 0;
    top: -140px;
}
.login .input-group label {
    width: 150px;
}
.login .input-group input {
    width: 200px;
}
.login .command-group {
    margin-left: 166px; /* 150px (label width) + 15px (margin) + 1px (input border) */
    width: 220px; /* 200px (input width) + 20px (padding) */
}
#register{
    font-size: 14px;
    color: #333;
}
#register:hover,
#register:focus {
    color: #666;
}
#nav-user {
    padding-left: 21px;
}

/*********************/
/** 04. Content Div **/
/*********************/
.main {
    margin-top: 80px;
    height: 100%;
    overflow: hidden;
}
.content {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}
@media (min-width: 768px) {
    .content {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .content {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .content {
        width: 1170px;
    }
}

/***************************/
/** 05. Public Chat Rooms **/
/***************************/
#rooms {
    border: 2px solid #2C5700;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
}
@media (min-width: 768px) {
    #rooms {
        float: left;
        width: 200px;
        height: calc(100% - 30px);
    }
}
@media (min-width: 1200px) {
    #rooms {
        width: 300px;
    }
}
.rooms-title {
    display: block;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 24px;
    color: #000;
    background-color: #ccc;
    border-radius: 3px 3px 0 0;
}
a.room {
    display: block;
    color: #2C5700;
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
}
a.room:hover,
a.room:focus {
    color: #408000;
}

/**************/
/** 06. Chat **/
/**************/
#chat {
    width: 100%;
    margin-bottom: 20px;
    overflow-y: scroll;
}
@media (min-width: 768px) {
    #chat {
        float: left;
        margin-left: 20px;
        width: calc(100% - 224px); /* +4px border, 200px rooms, 20px margin */
        height: calc(100% - 28px - 70px); /* +2px border */
    }
}
@media (min-width: 1200px) {
    #chat {
        width: calc(100% - 324px);
    }
}
.message {
    margin: 0 0 10px 0;
    padding: 7px 15px;
    color: #f9f9f9;
    background-color: #888;
    border-radius: 2px;
    word-wrap: break-word;
}
.their {
    width: calc(85% - 30px); /* +30px padding */
    background-color: #408000;
}
.own {
    margin-left: 15%;
    width: calc(85% - 30px); /* +30px padding */
}
.message .person {
    display: block;
    float:left;
    font-size: 16px;
}
.message .time {
    display: block;
    float: right;
}
.message .message-content {
    display: block;
    clear: both;
}

/****************/
/** 07. Sender **/
/****************/
#sender {
    height: 50px;
    width: 100%;
}
@media (min-width: 768px) {
    #sender {
        float: left;
        margin-left: 20px;
        width: calc(100% - 224px); /* +4px border, 200px rooms, 20px margin */
    }
}
@media (min-width: 1200px) {
    #sender {
        width: calc(100% - 324px);
    }
}
#sender-form {
    width: 100%;
}
#new-message {
    height: 48px; /* +2px border */
    width: calc(100% - 101px); /* +80px button, 20px padding, 1px border-left */
    padding: 0 10px;
    font-size: 18px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #aaa;
    border-right: none;
}
#new-message:focus {
    border: 1px solid #50a200;
    border-right: none;
}
#new-message:focus + #send {
    border: 1px solid #50a200;
    border-left: none;
    padding: 0 9px 0 10px; /* */
}
#send {
    height: 50px;
    width: 80px;
    padding: 0 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    font-size: 18px;
    color: #AFD775;
    background-color: #2C5700;
    cursor: pointer;
}
#send:hover, #send:focus {
    color: #D0FF8B;
    background-color: #408000;
}

/***************/
/** 08. Modal **/
/***************/
#grey-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: 2030;
}
.box {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 3030;
}
.modal {
    background-color: white;
    width: 500px;
    min-height: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px 8px 5px 5px;
    color: #2C5700;
}
.modal-header {
    color: #AFD775;
    font-size: 18px;
    background-color: #2C5700;
    padding: 5px 20px;
    border-radius: 5px 5px 0 0;
    margin-bottom: 15px;
}
.modal-close {
    color: #AFD775;
}
.modal-close:hover,
.modal-close:focus {
    color: #D0FF8B;
}
.modal .input-group label {
    width: 170px;
}
.modal .input-group input,
.modal .input-group textarea {
    width: 230px;
}
.modal p {
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
}
.modal .command-group {
    margin-left: 186px; /* 170px (label width) + 15px (margin) + 1px (input border) */
    width: 250px; /* 230px (input width) + 20px (padding) */
}
.modal form {
    padding-bottom: 15px;
}
/** 08.01 Register **/
#register-box {
    top: -250px; /* visible: 110px; */
}
/** 08.02 Change Password **/
#chpw-box {
    top: -250px; /* visible: 110px; */
}
/** 08.03 Error **/
#error-box {
    top: -250px; /* visible: 110px; */
}
#error-box #error-modal-load {
    float: left;
    margin: 3px 20px 0 20px;
    height: 27px;
}
#error-box #error-modal-load img {
    float: left;
}
#error-box #error-modal-load p {
    float: left;
    margin: 0 15px;
}
/** 08.04 Alert **/
#alert-box {
    top: -250px; /* visible: 110px; */
}
/** 08.05 Change Profile **/
#profile-box {
    top: -250px;
}
